.op {
    width: 16%;
    max-width: 16%;
}

.email {
    width: 24%;
    max-width: 24%;
}

.name {
    width: 15%;
    max-width: 15%;
}

.user-flag {
    width: 7.5%;
    max-width: 7.5%;
}

.dob {
    width: 13%;
    max-width: 13%;
}

.phone {
    width: 12%;
    max-width: 12%;
}

.address {
    width: 12.5%;
    max-width: 12.5%;
}